.messages{
  height: 100%;
  &__header {
    height: 59px;
    background: #EDEDED;
    border-top: 1px solid #282c3417;
    border-bottom: 1px solid #282c3417;
  }
  &__current-dialog{
    height: calc(100% - 112px);
    background: url(https://web.whatsapp.com/img/bg-chat-tile_9e8a2898faedb7db9bf5638405cf81ae.png);
    background-color: #e5ddd5;
    padding: 0 50px 0 50px;
    overflow: auto;
  }
  &__input{
    height: 49px;
  }
}

