.messages{
  height: 100%;
  &__header {
    display: flex;
    align-items: center;
    min-height: 44px;
    background: #EDEDED;
    border-top: 1px solid #282c3417;
    border-bottom: 1px solid #282c3417;
    padding: 8px 15px 7px 15px;
  }
  &__current-dialog{
    height: calc(100% - 112px);
    background: url('./../../assets/bg-chat.png');
    background-color: #e5ddd5;
    padding: 0 50px 0 50px;
    overflow: auto;
  }
}

