.item {
  display: flex;
  align-items: center;
  padding: 8px 20px 8px 20px;
  cursor:pointer;
  &:hover {
    background: #EDEDED;
  }
  &__left {
    img {
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }
  }
  &__info {
    display:flex;
    flex-direction: column;
    flex: 1;
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &-top {
      display: flex;
      .name {
        flex: 1;
        min-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &-bottom {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.item--iscurrent {
  background: #EDEDED;
}

